@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: url('@/assets/fonts/poppins/Poppins-Light.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 300;
  src: url('@/assets/fonts/poppins/Poppins-LightItalic.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('@/assets/fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: url('@/assets/fonts/poppins/Poppins-Italic.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('@/assets/fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  src: url('@/assets/fonts/poppins/Poppins-MediumItalic.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('@/assets/fonts/poppins/Poppins-SemiBold.ttf');
}

@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 600;
  src: url('@/assets/fonts/poppins/Poppins-SemiBoldItalic.ttf');
}
